html,
body {
    height: 100%;
    margin: 0px;
    /* font-family: 'Glory', sans-serif; */
    font-family: 'Fira Mono', monospace;
    background-color: #fafafa;
}

.tile {
    width: 100%;
    min-height: 100%;
}

.landing-tile {
    background-color: rgb(176, 100, 226);
    animation: changePurpleBackground 5s infinite alternate;
    color: white;
}

@keyframes changePurpleBackground {
    from {
        background-color: rgb(176, 100, 226);
    }
    to {
        background-color: rgb(152, 40, 226);
    }
}

@keyframes changePurpleForeground {
    from {
        color: rgb(176, 100, 226);
    }
    to {
        color: rgb(152, 40, 226);
    }
}

a.headline {
    font-size: 5rem;
}

a.sub {
    font-size: 1.2rem;
    color: rgba(235, 235, 235, 0.747);
}

div.jumbotron {
    width: 50%;
}


.center-tile {
    /* padding: 2em; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-text {
    font-size: 1.5rem;
    /* color: rgb(100, 100, 100); */
    /* color: rgb(67, 148, 224); */
    color: rgb(176, 100, 226);
    font-weight: bold;
}

.sub-text {
    color: gray;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.col{
    width: 40%;
}

p{
    color: darkgray;
}

.experience {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem;
    border-bottom: 2px solid rgb(235, 235, 235);
    border-top: 2px solid rgb(235, 235, 235);
    width: auto;
}


.hashtag-tile {
    background-color: rgb(26, 26, 26);
}

.hashtag-container {
    width: 70%;
}

.hashtag {
    line-height: 1.3em;
    font-size: 2rem;
    transition-duration: 1s;
    padding: 0.5em;
    color: rgb(176, 100, 226);
    cursor: default;
}

.hashtag:hover{
    color: rgb(160, 50, 233);
    transition-duration: 1s;
}

.social-link {
    width: 30%;
    padding: 1.5rem;
    margin: 2rem 0 0 0;
    font-size: large;
    color: grey;
    border-radius: 0.5rem;
    border: 1px solid rgb(214, 185, 233);
}

a {
    text-decoration: none;
}

.social-link:hover{
    background: rgb(200, 159, 228);
    color: white;
    transition-duration: 1s;
}

@media only screen and (max-width: 768px) {
    .social-link {
        width: 80%;
    }

    div.jumbotron {
        width: 80%;
    }

    .row {
        flex-direction: column;
    }
    
    .col{
        width: 100%;
    }
    
}